<!doctype html>
<html class="" lang="">
	<head>
		{% include 'partials/header' %}
	</head>

<body class="">

<section class = "hero is-medium is-primary">
	<div class="hero-body">
		<div class = "container">
			<div class = "columns">
				<div class = "column is-four-fifths">


						<!-- Breadcrumb -->
						<nav class="breadcrumb" aria-label="breadcrumbs">
						 	<ul>
								<li class = "back subtitle is-5">	<a href="javascript:history.back()"> 	<span class="icon"> <i class="fa fa-angle-left"></i></span> Back to results</a>	</li>
						 	</ul>
					 	</nav>

						<!-- Title -->
						<h1 class = "title is-1">{{ entry.title }}</h1>

						{% if entry.university|length %}
						{% for university in entry.university %}

						<!-- University Title -->
				<h2 class = "subtitle is-3">{{ university.title }}</h2>

						<!--  Show Featured -->
						{% if entry.featured=="1" %}
						<span class="tag is-warning"> Featured University </span>
						{% endif %}




						<div class = "blankbreak"> </div>



				</div>



<!-------------------------------------------------------------------------------->

				<div class = "column is-one-fifth">

						<!--  Logo -->
						{% set asset = university.universitylogo.first() %}
						{% if asset %}
							<div class = "logo image is-128x128">	  <img class = "logo" src="{{ asset.url ('unilogo') }}"/> </div>
						{% endif %}

						{% endfor %}
						{% endif %}

				</div>
		</div>

	<div class = "columns">
<div class = "column is-one-fifth">
{% if entry.headerinformation %}
<h3 class = "subtitle is-4">Deadline</h3>
 <p>{{ entry.headerinformation.deadline }}</p>

</div>
<div class = "column is-one-fifth">
	<h3 class = "subtitle is-4">Award Type</h3>
 	<p>{{ entry.headerinformation.award.label }}</p>
</div>
<div class = "column is-one-fifth">

						<h3 class = "subtitle is-4">Level of study</h3>
					<p> {{ entry.headerinformation.levelofstudy.label }}</p>
				</div>
<div class = "column is-one-fifth">
	<h3 class = "subtitle is-4">Location</h3>
	<p> {{ entry.ddlocation.label }}</p>
</div>
<div class = "column is-one-fifth">
<div class = "apply-award"><a class = "button is-info" href = "{{ entry.apply }}">  Apply </p> </a></div>
</div>

	</div>

					{% endif %}

</div>
</div>
</section>

<div class = "blankbreak"></div>
<!-------------------------------------------------------------------------------->

<!-- Description -->
<section>

	<div class = "container ">
		<div class = "columns">
			<div class = "column">



				<!-- Description -->
				<h1 class = "title"> Description </h1>
				<p>{{ entry.awarddescription}}</p>

			</div>
		</div>
	</div>

</section>

<section>
	<div class = "container">
		<div class = "columns">
			<div class = "column">
	{% if entry.university|length %}
	{% for university in entry.university %}
	<!--  Carousel -->

	<ul>
		{% for row in university.carousel %}
		{% set image = row.image.first() %}
		<li>
			{% if image %}
			<figure class="image is-3by1">
  	<img src="{{ image.url ('carouseltransform') }}"/>
			</figure>

			</br>  {{ row.description }}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endfor %}
{% endif %}
</div>
</div>
</div>
</section>
<!-------------------------------------------------------------------------------->

<div class = "blankbreak"></div>
<!-- Majors -->
<section>
	<div class = "container">
		<div class = "columns">
			<div class = "column">
				<h1 class = "title"> Majors offered by {{ entry.title}} </h1>
				<div class = "blankbreak"></div>
			</div>
		</div>

		<div class = "columns">
			<div class = "column is-6">
				{% if entry.majorlist %}

				<ul class = "major-split">

        {% for row in entry.majorlist %}
            <li class = "major"><b>{{ row.major }}</b></li>
        {% endfor %}
    		</ul>

				{% endif %}

			</div>

		</div>
	<div class = "break"></div>
	</div>

</section>


<!-------------------------------------------------------------------------------->
<!-- Additional information -->

<section>
	<div class = "container">

						<div class = "columns">
							<div class = "column">

								<h1 class = "title"> Additional information </h1>

							</div>
						</div>


						<div class = "columns">
								<div class = "column">
								{% if entry.additionalinformation1 %}
							<h3 class = "subtitle is-5">Program length</h3>
								<p>{{ entry.additionalinformation1.programlength }}</p>
							</div>

							<div class = "column">
								<h3 class = "subtitle is-5">Language</h3>
					 			<p>{{ entry.additionalinformation1.language.label }}</p>
							</div>

							<div class = "column">
								<h3 class = "subtitle is-5">Spots available</h3>
					 			<p>{{ entry.additionalinformation1.spotsavailable }}</p>
							</div>

							<div class = "column">
								<h3 class = "subtitle is-5">Tuition</h3>
		 						<p>{{ entry.additionalinformation1.tuition }}</p>
								{% endif %}
							</div>
						</div>

						<div class = "columns">
							<div class = "column">
								{% if entry.additionalinformation2 %}
								<h3 class = "subtitle is-5">Airfare</h3>
							<p>	{{ entry.additionalinformation2.airfare.label }}</p>
							</div>

							<div class = "column">

								<h3 class = "subtitle is-5">Monthly allowance</h3>
								<p>{{ entry.additionalinformation2.monthlyallowance.label }}</p>

							</div>

							<div class = "column">
								<h3 class = "subtitle is-5">Textbooks</h3>
							<p>	{{ entry.additionalinformation2.textbooks.label }}</p>
								</div>

							<div class = "column">
								<h3 class = "subtitle is-5">Housing</h3>
								<p>{{ entry.additionalinformation2.housing.label }}</p>
								{% endif %}
							</div>

						</div>


</div>


</section>

<!--------------------------------------------------------------------------->
<section>

	<div class = "container">
		<div class = "columns">
			<div class = "column">
					<div class = "break"></div>
							<!--Conditions of eligbility -->
							{% if entry.conditionseligibility %}
							<h3 class = "title">Conditions of Eligibility</h3>
							<p>	{{ entry.conditionseligibility }} </p>
							{% endif %}

							<div class = "break"> </div>
							{% if entry.requirements %}
							<h3 class = "title">Requirements</h3>
								{{ entry.requirements }}
							{% endif %}
</div>
</div>

<div class = "break"> </div>
<div class = "columns">
<div class = "column is-4">
	{% if entry.university|length %}
	{% for university in entry.university %}
	<h3 class = "title"> Contact {{university.title}} </h3>

	<div class = "googleAddress">{{ university.contact.mapaddress.address }} </div><br/>

	<a>{{ university.contact.telephone }}</a>


{% endfor %}
{% endif %}
</div>



<div class = "column is-8">


	<div id="map"></div>




</div>
</div>

</div>
</div>
<div class = "blankbreak"></div>
</section>

<script>
	var map;
	function initMap() {

		var latlng = {
					{% for university in entry.university %}
			 lat: {{ university.contact.mapaddress.lat }}, lng: {{ university.contact.mapaddress.lng }}
			 		{% endfor %}
		  }


		map = new google.maps.Map(document.getElementById('map'), {
			center: latlng,
			zoom: 16,
			disableDefaultUI: true
		});

		var marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
	}



	var txt = document.getElementsByClassName('googleAddress')[0].innerHTML;

	txt = txt.replace(/\,/g, '</br>');
	txt = txt.replace(/\-/g, '</br>');

	document.getElementsByClassName('googleAddress')[0].innerHTML = txt;

</script>


		</body>
		{% include 'partials/footer' %}
</html>
